@media screen and (max-width: 469px) {
    .container{
       
        width: 20rem;
    }
    h2{
        font-family: 'Oswald', sans-serif;
        margin-bottom: 2rem;
    }
    span{
        font-family: 'Chivo Mono', monospace;
        
    }
    p{
        font-family: 'Chivo Mono', monospace;
        margin-top: 1rem;
        text-align: right;
        padding-right: 2rem;
    }
    button{
        
       
        height: 6.5vh;
        width: 10vw;
        border-radius: 20px;
    }
    