@media screen and (max-width: 469px) {
    .container {

        max-width: 100vw;
    }

    span {

        font-size: 1.5rem;
        text-align: center;

    }

    p {


        margin-top: 1rem;
        text-align: center;

    }

    button {


        height: 6.5vh;
        width: 10vw;
        border-radius: 20px;
    }
}